//
// Colors
//

// Default
$color-default: #f2f2f2;
$color-default-lightest: #fff;
$color-default-lighter: #c2c2c2;
$color-default-darker: #acacac;
$color-default-darkest: #000;
$color-default-dark: #111111;

// Primary colors
$color-primary: #EE295F;

// Success colors
$color-success: #00a849;

// Warning
$color-warning: #ffc700;

// Danger
$color-danger: #f54747;

//colors
$whiteish: #f2f2f2;
$pink: #E96F92;
$purple: #75517D;
$green: #54fad4;

//options
$duration: 0.8s;
$ease-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$size: 20px;
$hsize: $size/2;

//
// Fonts size
//

//
// Padding & margin
//
//$info-phone-horizontal: "only screen and (max-width : 767px)";
//$info-phone: "only screen and (max-width : 640px)";

$info-tablet-horizontal: "only screen and (max-width : 1160px)";
$info-tablet-vertical: "only screen and (max-width : 900px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";

$primary-green: #0eb493;
$orange: rgb(200, 145, 59);
$orange-dark: rgb(201, 146, 59);
$orange-light: rgb(218, 178, 121);
$color-start: rgb(218, 178, 121);
$grey-dark: rgb(64, 64, 64);
$grey-dark-hover: rgb(21, 21, 21);
$color-border-button-grey: rgb(225, 225, 225);
$grey-medium: rgb(235, 235, 235);
$grey-light: rgb(255, 255, 255);
$color-text-grey: rgb(137, 137, 137);
$color-text-grey-light: rgb(145, 145, 145);
$color-background-calendar: rgb(248, 248, 248);
$color-box-shadow: rgb(212, 212, 212);
$color-line-grey: rgb(229, 229, 229);
$color-background-facebook: rgb(76, 110, 169);
$color-background-google: rgb(255, 88, 56);
$color-background-youtube: rgb(220, 56, 51);
$grey-line-feedback: rgba(84, 84, 84, 0.8);

