.about {
  display: flex;
  flex-direction: row;
  position: relative;

  .about__content {
    padding: 90px 0 100px 15px;
    position: relative;
    &.title {
      &::after {
        left: 15px;
      }

    }
    .content {
      width: 520px;
      margin-bottom: 32px;
    }
    .btn__see__more {
      padding: 14px 60px;
      @include border-radius-custom(0, $grey-dark, $grey-dark, $color-start, 50px);
    }
  }
  .about__image {
    width: 45.57%;
    max-width: 875px;
    height: 100%;
    background-size: cover;
    position: absolute;
    right: 0;
  }
}
