.about {
  display: grid;
  column-gap: 100px;
  .about__content {
    padding: 90px 0 100px 15px;
    &.title {
      h2::after {
        left: 15px;
      }

    }
    .content {
      width: 520px;
      margin-bottom: 32px;
    }
    .btn__see__more {
      padding: 14px 60px;
      @include border-radius-custom(0, $grey-dark, $grey-dark, $color-start, 50px);
    }
  }
  .about__image {
      max-width: 1170px;
      height: 620px;
      background-size: cover;
  }
}
