.event {
  display: grid;
  column-gap: 70px;
  // Resolve event banner
  .event__banner {
    background-size: cover;
    background-position: center;
    height: 620px;
    position: relative;
    .event__banner__content {
      position: absolute;
      top: 356px;
      p {
        color: $orange-light;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 24px;
        font-weight: 400;
        color: $color-default-lightest;
        line-height: 32px;
      }
    }
    .btn__sign__up__join {
      position: absolute;
      bottom: 73px;
      @include border-radius-custom-gradient(0, $grey-dark, $orange-dark, $orange-light, $color-default-lightest, 50px);
      padding: 20px;
    }
  } // End resolve

  // Resolve event information
  .event__info {
    padding-top: 90px;
    position: relative;
    padding-right: 15px;
    max-width: 600px;
    .event__info__title {
      &.title {
        &::after {
          left: 0;
        }
        &::before {
          left: -70px;
        }
      }
    }
    .event__info__grid {
      .grid__item {
        display: flex;
        flex-wrap: nowrap;
        .date {
          width: 60px;
          height: 70px;
          background-color: $color-background-calendar;
          p {
            font-size: 48px;
            font-weight: 300;
            .day {
              color: $orange-dark;
            }
            .month {
              color: $color-text-grey;
            }
          }
         
        }    
      }
    }
  }
}
