.introduce {
  .introduce__container {
    height: 620px;
    z-index: 1;
    position: absolute;
    &::before {
      @include line-simple-color(100%, 4px, $color-line-grey);
      left: 0;
      top: 176px;
    }
    @media #{$info-phone}{
      height: 80vh;
    }
    .introduce__container__content {
      opacity: 1.0;
      padding: 90px 15px 246px 0;
      position: absolute;
      left: 70px;
      @media #{$info-phone}{
        ppadding: 90px 15px 246px 15px;
      }
      .title {
        color: $color-default-lightest;
          margin-bottom: 56px;
          @media #{$info-phone}{
            margin-bottom: 200px;
          }
          h2::after {
            left: 0;
          }
          h2::before {
            opacity: 0.8;
            left: -70px;
          }
      }
      .content {
        color: $color-default-lightest;
        margin-bottom: 30px;
      }
      .btn__buy__course {
        padding: 14px 46px;
        @include border-radius-custom-gradient(0, $grey-dark, $orange-dark, $orange-light, $color-default-lightest, 50px);
      }
    }
  }
  .introduce__backgrounds {
    // Resolve slick dotted
    &.slick-dotted {
      &.slick-slider {
        margin-bottom: 0;
        ul{
          text-align: left;
          width: 200px;
          z-index: 1;
          &.slick-dots {
            @media #{$info-phone}{
              bottom: 63px;
              left: 50%;
              transform: translate(-50%);
            }
            li {
              @media #{$info-phone}{
                display: inline-block;
              }
              button{
                width: 0;
                height: 0;
                &::before {
                  border: 1px solid $color-default-lightest;
                }
              }
              &.slick-active {
                button::before{
                  background-color: $color-default-lightest;
                }
                @media #{$info-phone}{
                  button::before {
                    background-color: $color-default-lightest;
                  }
                }
              }
            }
          }
        }
      }
      // Resolve background__item
    }
    .introduce__background__item {
      background-size: cover ;
      height: 620px;
      position: relative;
      @media #{$info-phone}{
        height: 80vh;
        opacity: 0.5;
      }
    }
  }
  // Control position of buttons group
  .buttons {
    transform: translate(1135px, -116px);
    .play__02 {
      display: none;
    }
    @media #{$info-phone}{
      transform: translate(245px, -76px);
   }
  }
}
