.nav__online {
  background-color: $grey-dark;
  width: 100%;
  height: 200px;
  @media #{$info-phone} {
    height: 310px;
  }
  .container {
    &.nav__online__grid {
      display: grid;
      grid-template-columns: 285px 300px 285px 300px;
      text-align: center;
      @media #{$info-phone} {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        row-gap: 10px;;
      }
      a {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        @media #{$info-phone} {
          padding-top: 20px;
          padding-bottom: 50px;
        }
        img {
          margin-bottom: 11px;
        }
        p {
          font-size: 24px;
          font-weight: 300;
          line-height: 100%;
        }
        &:hover, &.nav__online__link__active {
          background-color: $grey-dark-hover;
          opacity: 1;
          .arrow__icon {
            width: 0;
            height: 0;
            border-bottom: 21px solid $color-default-lightest;
            border-left: 21px solid transparent;
            border-right: 21px solid transparent;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          &::after {
            @include line-multi-color(100%, 10px, $orange-dark, $orange-light);
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
