.online {
  background-color: $grey-dark;
  width: 100%;
  height: 200px;
  .container {
    .nav__grid {
      display: grid;
      grid-template-columns: 285px 300px 285px 300px;
      text-align: center;
      a {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        img {
          margin-bottom: 11px;
        }
        p {
          font-size: 24px;
          font-weight: 300;
          line-height: 100%;
        }
        &:hover, &.active {
          background-color: $grey-dark-hover;
          opacity: 1;
          &::after {
            @include line-multi-color(100%, 10px, $orange-dark, $orange-light);
            left: 0;
            top: 0;
          }
          &::before {
            width: 0;
            height: 0;
            border-bottom: 42px solid red;
            border-left: 21px solid transparent;
            border-right: 21px solid transparent;
            bottom: 0;
          }
        }
      }
    }

    .title {
      padding-top: 60px;
      margin-bottom: 56px;
      &::before {
        @include line-simple-color(calc(100% - 30px), 4px, $color-line-grey);
        top: 340px;
      }
      &::after {
        @include line-simple-color(170px, 4px, $orange-dark);
        left: 15px;
        top: 340px;
      }
    }
    .course__grid {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 345px 345px;

      .course__card {
        background-color: $color-default-lightest;
        position: relative;
        box-shadow: -25px 5px 80px $color-border-button-grey;
        border-radius: 5px;
        .course__image {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          &.none__white {
            top: 32px;
          }
          &.have__white {
            top: 6px;
          }
        }
        .course__header {
          position: absolute;
          bottom: 45px;
          left: 20px;
          font-size: 14px;
          .course__title {
            font-weight: 400;
          }
          .course__price {
            font-weight: 300;
            color: $orange-dark;
          }
        }
        .btn {
          &.btn__buy__course {
            position: absolute;
            bottom: 0%;
            right: 20px;
            transform: translateY(50%);
            font-size: 10px;
            padding: 9px 13px;
            @include border-radius-custom(1px, $color-border-button-grey, $grey-medium, $color-default-darkest, 50px);
          }
          &:hover {
            opacity: 1;
            background-color: $orange-dark;
            color: $color-default-lightest;
          }
        }
        .course__flag__new {
          text-align: center;
          line-height: 36px;
          color: $color-default-lightest;
          font-weight: 400;
          border-bottom: 36px solid $orange-dark;
          border-left: 36px solid transparent;
          border-right: 36px solid transparent;
          height: 0;
          width: 78px;
          box-shadow: 0 2px $color-box-shadow;
          transform: rotateZ(45deg);
          position: absolute;
          right: -35px;
          top: 22px;
        }
      }
    }
  }
}
